.user-png {
  width: 30px;
  height: 30px;
}
.navbar-brand {
  color: rgba(255, 0, 0, 0.836);
}
.btn-nav {
  background-color: rgba(240, 0, 0, 0.87);
  border-radius: 10px;
  color: white !important;
  font-weight: bold;
}
